p{
  background-color: blue;
  color: white;
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;

  border-radius: 10px 30px 50px 70px;
  /* border-top-left-radius: 20px; */
  border: 20px solid black;
  text-align: center;
  /* display: none;
  visibility: hidden; */
  /* box-shadow: 0px 0px 10px rebeccapurple; */
}
p:hover{
    box-shadow: 0px 0px 20px rebeccapurple;
color: blue;
background-color: white;
transition: 0.5s;
}
ol{
  /* list-style-type: square; */
  list-style-image: url("./icon.PNG");
  margin-left: 50px;
  font-size: 50px;
}